<ion-view title="Ajouter un repas">
    <ion-content>
        <div class="padding-left padding-top padding-right">

        </div>
        <div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="titre" type="text" placeholder="Nom du repas" />
                </label>
                <label class="item item-input">
                    <textarea placeholder="Recette du repas"></textarea>
                </label>
                <label class="item item-input">
                    <input ng-model="prix" type="text" placeholder="Prix du repas" />
                </label>
            </div>
            <div class="padding">
                <button ng-click="" class="button button-block button-dark">Publier</button>
            </div>
        </div>
    </ion-content>
</ion-view>